body {
    margin: 0 auto;
    height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #fff;
    box-sizing: border-box;
  }

nav {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  z-index: 100;
}

h1 {
    font-size: 5rem;
    text-align: center;
}

h2 {
    font-size: 3.75rem;
    text-align: center;
}

h3 {
    font-size: 2.5rem;
    margin-top: -4rem;
}

p {
    font-size: 1.25rem;
    text-align: justify;
}

a {
  color: #fff;
  text-decoration: underline;
  text-decoration-color: #fff;
}

.profile-pic-container {
  width: 150px;
  height: 150px;
  border: 4px solid #fff;
  border-radius: 50%;
  overflow: hidden;
  background-image: url('./media/profile-pic.png');
  margin-bottom: -2rem;
  background-size: cover;
  background-position: center;
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 75%;
    padding-top: 3.75rem;

}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.about-title {
    margin-bottom: -1rem;
}

.auto-type {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    margin: 0;
    opacity: 0.8;
  }
  
.typed-cursor {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
}

.social-links {
    margin-top: 2rem;
    text-align: center;
    margin-top: -2rem;
  }
  
  .social-links a {
    display: inline-block;
    margin: 0.5rem;
  }
  
  .social-icon {
    width: 2rem; 
    height: auto;
    transition: transform 0.3s;
    margin: 0 2rem 0 2rem;
  }
  
  .social-icon:hover {
    transform: scale(1.25);
  }
  
  .nav-left, .nav-right {
    display: flex;
    align-items: center;
  }
  
  .nav-btn {
    color: #fff;
    text-decoration: none;
    margin: 0 0.5rem;
    font-size: 1.5rem;
  }
  
  .separator {
    margin: 0 0.5rem;
    color: #fff;
  }